p {
	font-family: Century Gothic, Times New Roman, serif;
	font-size: 1em;
	color: 50d545;
}
h1 {
    font-family: Curlz MT, Times New Roman, serif;
    font-size: 3em;
    color: 00b1f9;
}
h2 {
    font-family: Century Gothic, Times New Roman, serif;
    font-size: 1em;
    color: 00b1f9;
}
small {
    font-family: Century Gothic, Times New Roman, serif;
    font-size: 1em;
    color: ea488b;
}
.black {
	background-color: black;
}
